<div>
  <link href="./footer.css" rel="stylesheet" />
  <footer class="footer-footer">
    <div class="footer-information">
      <div class="footer-content">
        <div class="footer-header">
          <img
            alt="image"
            src="public/rr-23-0001%20restart%20ranch%20logo%20bc%20rev%20final.svg"
            class="footer-image"
          />
          <p class="footer-text">
            <span>
              Relaxing cabin getaway along the Elbow River in Bragg Creek,
              Alberta.
            </span>
          </p>
        </div>
        <div class="footer-contact-list">
          <div class="footer-contact">
            <a
              href="mailto:hello@restart-ranch.com?subject=Restart Ranch Booking Inquiry"
              class="footer-link"
            >
              <span>hello@restart-ranch.com</span>
            </a>
          </div>
        </div>
      </div>
      <span class="footer-copyright"><span>©2023 Restart Ranch</span></span>
    </div>
    <div class="footer-links">
      <div class="footer-column">
        <a
          href="https://www.airbnb.ca/rooms/822743480789610082"
          target="_blank"
          rel="noreferrer noopener"
          class="footer-text2 link"
        >
          <span>Book on AirBnB</span>
        </a>
        <a
          href="mailto:hello@restart-ranch.com?subject=Restart Ranch Booking Inquiry"
          class="footer-text3 link"
        >
          <span>Contact Us</span>
        </a>
        <a
          href="https://www.instagram.com/restart_ranch/"
          target="_blank"
          rel="noreferrer noopener"
          class="footer-text4 link"
        >
          <span>Follow us on Instagram</span>
        </a>
      </div>
    </div>
  </footer>
</div>
